section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  width: 100%;
  height: 100%;
}

app-country-select{
  width: 30%;
}
