section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  width: 100%;
  height: 100%;
}

app-country-select{
  width: 90%;
}

app-projection-select{

}
