<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Country" aria-label="Country" [matAutocomplete]="auto" [formControl]="countryCtrl">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option (onSelectionChange)="selectCountries([country.alpha2Code])"
                  *ngFor="let country of filteredCountries | async"
                  [value]="retrieveCountryNameByLang(country)">
        <img style="vertical-align:middle;" aria-hidden src="{{country.flag}}" height="25"/>
        <span>{{ retrieveCountryNameByLang(country) }} ( {{country.alpha2Code}} )</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
